body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  margin-top: 50px; 
  margin-bottom: 50px;
}

.board-row {
  display: flex;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 500px;
}

.main {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.space {
  margin: 2px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.boardKey {
  height: 58px;
  width: 58px;
  font-size: 30px;
  font-weight: bold; 
  color: white; 
}

.keyboardKey {
  height: 58px;
  min-width: 43px;
  border-radius: 4px;
  font-weight: bold; 
  font-size: 14px;
  cursor: pointer; 
  
}

.white {
  border: darkgray 2px solid; 
  color: black;
  height: 54px;
  width: 54px;
}

.black {
  background-color: #787C7E;
}
.keyboardKey.black:hover {
  background-color: 		#353839;
}
.green {
  background-color: #6AAA64;
}
.keyboardKey.green:hover {
  background-color: 		rgb(0,100,0);
}
.gray {
  background-color: #D3D6DA
}
.keyboardKey.gray:hover {
  background-color: gray;
}
.yellow {
  background-color: #C9B458;
}
.keyboardKey.yellow:hover {
  background-color: 	rgb(153,153,0);
}





h1 {
  font-family: 'Times New Roman','Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 35px;
  
}

nav {
  border-bottom: 1px solid rgb(211, 214, 218);
  display: flex; 
  justify-content: center; 
  align-items: center
}

.enter {
   padding: 0 10px; 
   background-color: #D3D6DA;
}

.enter:hover {
  background-color: gray;
}

.endingMessage {
  background-color: #6AAA64;
}

.modal {
  position: absolute;
  background-color: rgb(255, 77, 77);
  border: 3px solid goldenrod;
  border-radius: 10px;
  z-index: 1;
  width:350px;
  min-height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.victoryModal {
  position: absolute;
  background-color: rgb(255, 77, 77);
  border: 3px solid goldenrod;
  border-radius: 10px;
  z-index: 1;
  width:350px;
  min-height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}